<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/mainLayout}">
<th:block layout:fragment="css">

</th:block>
<th:block layout:fragment="seo">

</th:block>
<th:block layout:fragment="contents">
    <div class="py-5 text-center">
        <p class="lead">이메일 발송 실패</p>
        <div class="alert alert-danger" role="alert">
            존재하지 않는 이메일입니다.
        </div>
    </div>
</th:block>
<th:block layout:fragment="script">

</th:block>
</html>