<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <div th:replace="layout/fragments/head :: headFragment"></div>
        <link rel="stylesheet" href="/css/base.css">
        <link rel="stylesheet" href="/static/css/accountLayout.css">
        <link rel="stylesheet" href="/node_modules/@fortawesome/fontawesome-free/css/all.min.css">
        <th:block layout:fragment="css">css</th:block>
        <th:block layout:fragment="seo">seo</th:block>
    </head>
    <body>
        <div class="page-wrapper chiller-theme">
            <div th:replace="layout/fragments/navigation :: signInFragment"></div>
            <main class="page-content">
                <div class="container-fluid">
                    <th:block layout:fragment="contents">contents</th:block>
                </div>
            </main>
        </div>
        <div th:replace="layout/fragments/script :: scriptFragment"></div>
        <th:block layout:fragment="script">script</th:block>
        <script src="/static/js/accountLayout.js"></script>
    </body>
</html>